@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat.ttf');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  user-select: none;
  transition: background-color 1.5s ease, color 1.5s ease;
}
h1,
h2,
h3,
p,
button,
input,
ol,
ul,
li,
a,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
input {
  border-radius: 10px;
  border: none;
  outline: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.logo {
  display: block;
}
.logo img {
  max-height: 75px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  text-transform: uppercase;
  /* transform: translateX(15%); */
  margin-left: 120px;
  position: relative;
}
.submenu {
  position: absolute;
  top: 70px;
  left: -70%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -o-transition: opacity 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: visibility 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-transition: opacity 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  padding: 18px 20px;
  text-transform: none;
}
.submenu .submenu__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}
.submenu .submenu__item:last-child {
  margin-bottom: 0;
}
.menu__item {
  padding: 25px 0;
}
.menu__link {
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-size: 18px;
}
.menu__item:hover .menu__link {
  color: #bcc7de;
}
.submenu__link:hover {
  color: #bcc7de;
}
.menu__item--services {
  position: relative;
}
.menu__link--services::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0;
  position: absolute;
  top: 50%;
  right: -15px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: transparent;
  border-top-color: inherit;
}
.submenu:after,
.submenu:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  top: -20px;
  border-bottom-color: #fff;
}
.menu__item--services:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.header__contacts, .header__contacts-mobile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 800;
}
.header__contacts-mobile{
  display: none;
}
.header__phone {
  display: block;
  letter-spacing: 1px;
  min-width: 150px;
}
.header__btn {
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 30px;
}
/* Базовые стили для бургер-меню */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.main {
  padding-top: 90px;
}
.footer {
  padding: 10px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__address {
  font-size: 14px;
  font-weight: 500;
}
.footer__socials {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__link {
  display: block;
}
.footer__policy {
  text-align: center;
  text-decoration: underline;
  transition: font-weight 0.3s;
  font-size: 14px;
}
.footer__policy:hover {
  font-weight: 600;
}

.faq {
  margin-bottom: 157px;
}
.container--faq{
  max-width: 1400px;
}
.faq__title {
  font-size: 55px;
    font-weight: 700;
    line-height: 85px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeInText 1s ease-in-out forwards;
  animation-play-state: paused;
}
.faq__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.faq--other .container{
  max-width: 1600px;
}
.faq--other .faq__item, .faq--other .faq__text{
  max-width: none
}
.faq--other .faq__title{
  text-align: center;
  margin-top: 50px;
}
.faq__link{
  font-size: 18px;
  font-weight: 500;
  color: blue;
}
.faq__item {
  border-radius: 20px;
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 670px;
}
.faq__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.faq__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  max-width: 1219px;
}
.faq__text {
  margin-top: 30px;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
  line-height: 120%;
  max-width: 1219px;
}
.faq__text p, .faq__text ul{
  margin-bottom: 20px;
}
.faq__text ul{
  list-style: inside;
}
.faq__text h4{
  margin-bottom: 40px;
  font-size: 20px;
}
.faq__text--active {
  display: block;
}
.faq__btn--active .faq__arrow {
  transform: rotate(0deg);
}
.faq__arrow {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
/* Контейнер формы */
.form-container {
  background-color: #1b1b1b;
  padding: 30px;
  min-width: 400px;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  user-select: none;
  position: fixed;
  z-index: 10;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) scale(0); /* Стартовое состояние */
  opacity: 0; /* Исходная прозрачность */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Плавный переход */
}
/* Стиль для сообщения об ошибке */
.error-message {
  color: red;
  font-size: 12px;
  display: none; /* Изначально скрыто */
  margin-bottom: 10px;
}

/* Красная рамка при ошибке */
.input-error {
  border: 2px solid red;
}

/* Оверлей */
.overlay-site {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); /* Оверлей с прозрачностью */
  z-index: 2;
  opacity: 0; /* Исходная прозрачность */
  transition: opacity 0.3s ease-out; /* Плавный переход */
  pointer-events: none; /* Пока форма не активна, оверлей не доступен */
}

/* Активация формы */
.overlay-site.active {
  opacity: 0.8; /* Прозрачность при активации */
  pointer-events: all; /* Разрешить взаимодействие с оверлеем */
}

.form-container.active {
  transform: translateX(-50%) scale(1); /* Масштабирование до нормального размера */
  opacity: 1; /* Полная видимость */
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* Плавное появление формы */
@keyframes fadeIn {
  0% {
    transform: translateX(-50%) scale(0.5); /* Начинаем с уменьшенного масштаба */
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(0.5);
    opacity: 0;
  }
}

/* Заголовок формы */
.form-container h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.form-container input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #1b1b1b;
  transition: all 0.3s ease;
  position: relative;
}

.form-container input[type='checkbox']:checked {
  background-color: #000000;
  border-color: #555;
}
.form-container input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  top: 3px;
  left: 6px;
  transform: rotate(45deg);
}

.form-container input[type='checkbox']:hover {
  border-color: #555;
}

/* Поля ввода */
.form-container input[type='text'],
.form-container input[type='number'],
.form-container input[type='email'],
.form-container select {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s;
}

.form-container input[type='text']::placeholder,
.form-container input[type='email']::placeholder,
.form-container input[type='number']::placeholder {
  color: #888;
}

/* Поле выбора услуг (select) */
.form-container select {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #555;
}

/* Стили кнопки */
.form-container button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  text-transform: uppercase;
}

.form-container button:hover {
  background-color: #ccc;
  color: #000;
}

/* Дисклеймер */
.form-container .disclaimer {
  font-size: 12px;
  color: #999999;
  margin-top: 20px;
  text-align: center;
}

/* Стили для checkbox */
.form-container label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.form-container input[type='checkbox'] {
  margin-right: 10px;
  vertical-align: middle;
}
.form-container .checkbox {
  text-align: left;
}
/* Кнопка "Вверх" */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  color: #000;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #000;
  color: #fff;
}

/* Показываем кнопку, когда страница прокручена */
.show-scroll-btn {
  display: flex;
  align-items: center;
  opacity: 0.8;
}
/* Стили для иконки WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000;
  background: rgb(38, 211, 103);
  border-radius: 50%;
  padding: 5px;
}

.whatsapp-icon img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.whatsapp-icon .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 255, 78, 0.9);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: wave-animation 5s infinite;
  pointer-events: none;
}

/* Анимация волны */
@keyframes wave-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* Эффект при наведении на иконку */
.whatsapp-icon:hover {
  animation: icon-hover-animation 0.5s forwards;
}

@keyframes icon-hover-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Легкое движение снизу */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}